.VHCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); }

.loading {
  background-image: url("/images/loading.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
