@charset "UTF-8";
@font-face {
  font-family: 'RobotoMono-Iconfont';
  src: url("./RobotoMono-Iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  scroll-behavior: smooth;
  list-style: none;
  border: none;
  outline: none; }
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  *::-webkit-scrollbar-thumb {
    border-radius: 999rem;
    background-color: #119da4; }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #119da4; }
  *:hover::-webkit-scrollbar-thumb:hover {
    background-color: #119da4; }

html, body {
  font-size: 15px;
  line-height: 1.8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: RobotoMono-Iconfont, consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number;
  cursor: url("/images/cursor_16x16.ico"), auto;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  color: #464646; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #464646; }

a {
  color: #119da4;
  outline: 0;
  text-decoration: none; }
  a:hover {
    color: #13505b;
    border-bottom: 1px solid currentColor; }

button {
  cursor: pointer; }

blockquote, figure, ol, p, pre, table, ul {
  margin: 16px 0;
  padding: 0; }

blockquote:first-child, figure:first-child, ol:first-child, p:first-child, pre:first-child, table:first-child, ul:first-child {
  margin-top: 0; }

blockquote:last-child, figure:last-child, ol:last-child, p:last-child, pre:last-child, table:last-child, ul:last-child {
  margin-bottom: 0; }

ol article, ol blockquote, ol div, ol figure, ol footer, ol header, ol iframe, ol ol, ol p, ol pre, ol section, ol table, ol ul, ul article, ul blockquote, ul div, ul figure, ul footer, ul header, ul iframe, ul ol, ul p, ul pre, ul section, ul table, ul ul {
  margin-top: 0;
  margin-bottom: 0; }

iframe, img {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block; }

iframe {
  vertical-align: text-bottom; }

img {
  max-width: 100%;
  border: 0;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: inherit;
  color: #464646;
  background-color: transparent;
  font-weight: bold; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

> h1, > h2, > h3, > h4, > h5, > h6 {
  margin-top: 18px;
  outline: 0; }

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #464646; }

h1 a, h1 abbr[title], h1 em, h1 u, h2 a, h2 abbr[title], h2 em, h2 u, h3 a, h3 abbr[title], h3 em, h3 u, h4 a, h4 abbr[title], h4 em, h4 u, h5 a, h5 abbr[title], h5 em, h5 u, h6 a, h6 abbr[title], h6 em, h6 u {
  border-bottom-color: #464646; }

h1 {
  font-size: 22px;
  line-height: 48px;
  text-align: left; }

h2 {
  font-size: 18px;
  line-height: 26px;
  text-align: left; }

h3 {
  font-size: 16px;
  line-height: 26px;
  text-align: left; }

h4, h5, h6 {
  line-height: 26px;
  font-size: 14px;
  text-align: left; }

blockquote {
  position: relative;
  padding: 0 0 0 11px;
  margin: 16px 0;
  font-family: STKaiti,KaiTi,serif;
  border-left: 5px solid #ccc; }

li blockquote {
  margin-left: -21px; }

pre {
  line-height: 1.6;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  border-radius: 3px; }

pre code {
  padding: 20px;
  font-size: 13px; }

p code {
  padding: 3px 5px;
  background: #f0f3f6;
  font-size: 13px;
  border-radius: 3px; }

ol, ul {
  padding-left: 16px; }

ol li, ul li {
  margin: 0;
  padding: 0;
  list-style-position: outside; }

ul li {
  list-style-type: square; }

ul li ul li {
  list-style-type: disc; }

ul li ul li ul li {
  list-style-type: circle; }

ol li {
  list-style-type: decimal; }

ol li ol li {
  list-style-type: upper-roman; }

ol li ol li ol li {
  list-style-type: lower-roman; }

li > ol, li > ul {
  padding-left: 32px; }

hr {
  position: relative;
  padding-top: 30px;
  margin-top: -1px;
  margin-bottom: 30px;
  height: 0;
  background: 0 0;
  border: none;
  border-bottom: 1px dashed #ccc; }

table {
  display: table;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 336px;
  border-radius: .5em; }

table caption {
  padding: 0; }

table thead th {
  text-align: left; }

table tbody {
  margin: 0 16px; }

table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
  background-color: #f0f3f6; }

table tbody tr:last-child td, table tbody tr:last-child th {
  padding-bottom: 6px; }

table td, table th {
  padding: 8px 16px 7px;
  border: 1px solid #ccc; }

a, a:visited {
  color: #119da4;
  border-bottom-color: #119da4; }

a {
  padding-bottom: .025em;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s; }

a:focus {
  outline: dotted thin; }

a:active, a:hover, button {
  outline: 0; }

a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: #13505b;
  border-bottom-color: #13505b; }

b, strong {
  font-weight: 700; }

em, u {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit; }

u {
  padding-bottom: .05em;
  border-bottom: 1px solid #ccc; }

u + u {
  margin-left: .125em; }

em {
  -webkit-text-emphasis: filled circle;
  -moz-text-emphasis: filled circle;
  -ms-text-emphasis: filled circle;
  text-emphasis: filled circle;
  -webkit-text-emphasis-position: under left;
  -moz-text-emphasis-position: under left;
  -ms-text-emphasis-position: under left;
  text-emphasis-position: under left; }

figure img {
  display: block;
  margin: 0 auto; }

figure figcaption {
  display: block;
  text-align: center;
  font-style: italic; }

cite {
  font-style: inherit; }

cite:after, cite:before {
  content: "《";
  line-height: inherit; }

cite:after {
  content: "》"; }

abbr[title] {
  padding-bottom: .05em;
  cursor: help;
  border-bottom: 1px dotted #464646; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #464646; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa; }

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic; }

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4; }

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649; }

.hljs-literal {
  color: #0184bb; }

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f; }

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401; }

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801; }

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

.kcon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.VHCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.loading {
  background-image: url("/images/loading.svg"); }

.page {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 100vh;
  background-color: #f0f3f6; }
  .page__body {
    flex-grow: 1;
    position: relative; }
  .page .posts-viewport {
    overflow: auto;
    height: 100%; }
  .page .posts-wrapper {
    display: flex;
    align-items: flex-start; }
  .page .posts-loader {
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .page .posts-loader.done:before {
      content: "That's all I've got for now.";
      color: #ccc;
      font-size: 14px; }
  .page .posts {
    flex: 1;
    padding: 15px 7.5px; }
    .page .posts:last-child {
      margin-right: 0; }
    .page .posts .post {
      margin-bottom: 15px;
      cursor: pointer;
      padding: 7.5px;
      transition-duration: 150ms;
      border-radius: 8px;
      box-shadow: rgba(148, 154, 168, 0.08) 0px 2px 24px 0px;
      word-break: break-word;
      background-color: #fff;
      backface-visibility: hidden; }
      .page .posts .post:hover {
        box-shadow: rgba(148, 154, 168, 0.25) 0px 15px 24px 3px;
        transform: translateY(-2px); }
  .page__sidebar {
    flex: 0 0 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    order: -1;
    margin-left: 15px; }
    .page__sidebar__avatar {
      flex-shrink: 0;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-image: url("//qhstaticssl.kujiale.com/newt/100603/image/jpeg/1605526305120/412613E6CBCCE91B30762459C5185EB7.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .page__sidebar__title {
      flex-shrink: 0;
      text-align: center; }
    .page__sidebar__tags {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      overflow: auto;
      padding: 15px 0; }
      .page__sidebar__tags a[class^='sidebar-tag'] {
        border: 1px solid currentColor;
        margin: .1rem;
        padding: .1rem .3rem;
        animation-duration: 150ms; }
        .page__sidebar__tags a[class^='sidebar-tag']:hover {
          background-color: #119da4;
          color: #fff; }
    .page__sidebar__copywrite {
      flex-shrink: 0;
      text-align: center; }
      .page__sidebar__copywrite:hover {
        border: none; }
  .page .post-fullscreen {
    position: absolute;
    padding: 30px 60px;
    display: flex;
    align-items: stretch;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .page .post-fullscreen__content {
      margin: 0 auto;
      max-width: calc(860px + 4 * 15px);
      overflow: hidden auto;
      padding: 0 15px;
      position: relative; }
    .page .post-fullscreen__close {
      position: absolute;
      top: 30px;
      right: 15px;
      width: 40px;
      height: 40px;
      font-size: 20px;
      background-color: #f0f3f6;
      border-radius: 50%; }
